<!DOCTYPE html>
<html>
<head>

	<title>oAuth</title>

	<!--CSS-->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/stylesheet.css">

	<!--Angular Setup-->
	<script src='libs/angular/angular.min.js'></script>
	<script src='libs/angular-route/angular-route.min.js'></script>
	
	<!--Angular Custom-->
	<script src='js/controllers/homeController.js'></script>
	<script src='js/controllers/loginController.js'></script>
	<script src='js/controllers/registerController.js'></script>
	<script src='js/controllers/profileController.js'></script>
	<script src='js/app.js'></script> 
</head>
<body ng-app='oAuthApp' ng-controller='profileController'>
	<div class='container'>
		<div class='jumbotron text-center'>
			<h1>{{ header }}</h1>
			<h4>{{ subheader }}</h4>
		</div>
		<div class="row text-center">
			<div class="col-sm-12 padded">
				<a class='btn btn-primary' href='/logout' role='button'> Logout </a>
			</div>
		</div>

	</div>
</body>
</html>