<!DOCTYPE html>
<html>
<head>

	<title>oAuth</title>

	<!--CSS-->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/stylesheet.css">

	<!--JQuery-->
	<script src='libs/jquery/dist/jquery.min.js'></script>
	<script src='js/effects.js'></script>

	<!--Angular Setup-->
	<script src='libs/angular/angular.min.js'></script>
	<script src='libs/angular-route/angular-route.min.js'></script>
	
	<!--Angular Custom-->
	<script src='js/controllers/homeController.js'></script>
	<script src='js/controllers/loginController.js'></script>
	<script src='js/controllers/registerController.js'></script>
	<script src='js/controllers/profileController.js'></script>
	<script src='js/app.js'></script> 
</head>
<body ng-app='oAuthApp' ng-controller='profileController'>
	<div class='container fadein'>
		<div class='jumbotron text-center'>
			<h1>{{ firstName }}'s Profile </h1>
			<h4>{{ subheader }}</h4>
		</div>
		
		<div class='centered'>
			<div class='row'>
				<div class='col-sm-12 text-center thinner'>
					<form action='/newPost' method='post' role='form'>
						<fieldset class='form-group'>
							<label for='newPost'>Say Something:</label>
							<input id='newPost' name='post' class='form-control' type='text' required='true' placeholder='Enter new post'>
						</fieldset>
					</form>
				</div>
			</div>

			<div class='row'>
				<div class='col-sm-12 text-center thinner well' ng-repeat='post in posts' >
						<p> {{ post.message }}</p>
						<a ng-href='/deletePost/{{post._id}}' class='pull-right'><span class='glyphicon glyphicon-remove'></span></a>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-12 padded">
				<a class='btn btn-primary' href='/logout' role='button'> Logout </a>
			</div>
		</div>

	</div>
</body>
</html>